@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "CreaditTeamPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div></div>
<button class="btn btn-primary" id="logOutBtn">@localizer["Log Out"]</button>
 <div>
<h1 class="text-center" id="TeamType"></h1>
     <h4 class="text-center" id="userName"></h4>

 </div>

<table id="installmentData" class="display" style="width:100%">


    <thead>
        <tr>
             <th>@localizer["NationalId"]</th>
            <th>@localizer["Name"]</th>
            <th>@localizer["Mobile"]</th>
            <th>@localizer["status"]</th>
            <th>@localizer["Address"]</th>
            <th>@localizer["Job"]</th>
            <th>@localizer["Attachments"]</th>
            <th>@localizer["Edit Customer Info"]</th>
            <th>@localizer["GuarentorInfo"]</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
   
</table>


<partial name="CreditTeamPartials/_AdressDetailsModal" />
<partial name="CreditTeamPartials/_JobDetailsModal" />
 <partial name="CreditTeamPartials/_Attachements" />
 @*<partial name="CreditTeamPartials/_CardDetails" />*@
 <partial name="CreditTeamPartials/_CustomerInfo" />
 <partial name="CreditTeamPartials/_guarntorInfo" />

<input type="hidden" id="installmentCardId"/>
<script>
     $(document).ready(function () {

         //changes according the user role

         if (user) {
             $("#TeamType").text(user.Role + " Team") //setting header with the team role

             $("#userName").text(user.Email.split("@@")[0]) //setting userName

         }


         GetAllInstallmentCards()

         $('#installmentData').DataTable();

         $(".statusName").click(function () {
             $("#installmentCardId").val($(this).attr("value"))
             $(".statusDDL").hide() //hide all
             $(".statusName").show()
             $(this).hide();
             $(this).next().show();
         })

         $(".statusDDL").change(function () {
             var newStatus = $(this).val();
             var installmentCardId = $("#installmentCardId").val()
             //update installment card status

             $.ajax({
                 url: baseURL + `installmentCard/ChangeInstallmentCardStatus?installmentCardId=${installmentCardId}&newStatusId=${newStatus}`,
                 type: "PUT",
                 beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + sessionStorage.getItem("userToken")); },
                 datatype: "json",
                 contentType: "application/json",
                 async: false,
                 success: function (res) {
                     if (res.succeded) {
                         successToaster(res.message)
                         $(".statusDDL").hide() //hide all
                         $(".statusName").show()
                     }
                     else {
                         failureToaster(res.message)
                     }
                 },
                 error: function (err) {
                     console.log("error: ", err)
                 }
             });
         })



    

         $("#logOutBtn").click(function () {
             sessionStorage.clear();
             window.location.replace(window.location.origin.concat(fronApplicationPath + '/Home/Login'))
         })




         $('[type="search"]').focusout(function () {

             $(".statusName").click(function () {
                 $("#installmentCardId").val($(this).attr("value"))
                 $(".statusDDL").hide() //hide all  
                 $(".statusName").show()
                 $(this).hide();
                 $(this).next().show();
             });

             $(".statusDDL").change(function () {
                 var newStatus = $(this).val();
                 var installmentCardId = $("#installmentCardId").val()
                 //update installment card status

                 $.ajax({
                     url: baseURL + `installmentCard/ChangeInstallmentCardStatus?installmentCardId=${installmentCardId}&newStatusId=${newStatus}`,
                     type: "PUT",
                     beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + sessionStorage.getItem("userToken")); },
                     datatype: "json",
                     contentType: "application/json",
                     async: false,
                     success: function (res) {
                         if (res.succeded) {
                             successToaster(res.message)
                             $(".statusDDL").hide() //hide all
                             $(".statusName").show()
                         }
                         else {
                             failureToaster(res.message)
                         }
                     },
                     error: function (err) {
                         console.log("error: ", err)
                     }
                 });
             })

         })
        

     });

    
    

</script>
