@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!-- Modal -->
<div class="modal fade" id="customerInfo" tabindex="-1" role="dialog" aria-labelledby="jobDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer["Edit Customer Info"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" id="customerInfoEdit">Edit</button>

                <form id="customerInfoFrom">
                   <input  type="hidden" id="installmentId" />


                    <div class="row py-2 ">
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" name="customerNationalId" disabled id="customerNationalId" autocomplete="off" required class="form__field" placeholder="@localizer["NationalId"]">
                                <label for="customerNationalId" class="form__label inputPlaceHolder">@localizer["NationalId"]</label>
                                <span id="invalidIdMsg" class="text-danger" style="display:none">@localizer["Invalid National Id"]</span>
                                <span id="validIdMsg" class="text-success" style="display:none">@localizer["Valid National Id"]</span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" id="customerName" disabled name="customerName" class="form__field" autocomplete="off" required placeholder="@localizer["Full Name"]">
                                <label for="customerName" class="form__label inputPlaceHolder">@localizer["Full Name"]</label>
                            </div>

                        </div>
                    </div>
                    
                    <div class="row py-2 ">
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" id="customerMobileNumber" disabled name="customerMobileNumber" class="form__field" pattern="^01[0125][0-9]{8}$" required placeholder="@localizer["Mobile Number"]" autocomplete="off">
                                <label for="customerMobileNumber" class="form__label inputPlaceHolder">@localizer["Mobile Number"]</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form__group m-0 ">
                                <input type="text" name="creditLimit" disabled required id="creditLimit" class="form__field" placeholder="@localizer["Credit Limit"]">
                                <label for="salary" class="form__label inputPlaceHolder">@localizer["Credit Limit"]</label>
                            </div>
                        </div>
                    </div>
                    

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" disabled id="customerInfoBtn"> Save </button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        validateCustomerName();
        $("#validIdMsg").hide()
        $("#invalidIdMsg").hide()

       // $("#customerNationalId , #customerName ,#mobileNumber ,#customerInfoBtn").prop("disabled", false);
        $("#customerInfoEdit").click(function () {
           
            $("#creditLimit ,#customerNationalId , #customerName ,#customerMobileNumber ,#customerInfoBtn").prop("disabled", false);
        })
       // $("#creditLimit , #salary ,#status ,#MonthlyIncomeBtn").prop("disabled", false);



        $("#customerNationalId").keyup(function (e) {

            var englishAlphabetAndWhiteSpace = /[A-Za-z ]/g;
            var key = String.fromCharCode(e.which);
            if (englishAlphabetAndWhiteSpace.test(key)) {
                return true;
            }
            if ($("#customerNationalId").val() == '') {
                $("#validIdMsg").hide(300)
                $("#invalidIdMsg").hide(300)
            }
            $.ajax({
                url: baseURL + "customer/isValidNationalId?nationalId=" + $("#customerNationalId").val(),
                type: "GET",
                datatype: "json",
                contentType: "application/json",
                success: function (res) {
                    if (res.succeded) {
                        $("#checkElegabilityBtn").removeAttr('disabled')
                        $("#validIdMsg").show(300)
                        $("#invalidIdMsg").hide(300)
                    } else {
                        $("#invalidIdMsg").show(300)
                        $("#validIdMsg").hide(300)
                        $("#checkElegabilityBtn").prop("disabled", true)

                    }

                },
                error: function (err) {
                    console.log("error: ", err)
                }
            });
        })
        $("#customerInfoFrom").validate({
            messages: {

                mobileNumber: {
                    pattern: "Please enter valid Mobile Number"

                }
            },
            errorClass: "validationError"
        });


        $("#customerInfoBtn").click(function () {
            if ($("#customerInfoFrom").valid()) {
                let customerInstallmentCardInfo = {
                    "id": parseInt($("#installmentId").val()),
                    "name": $("#customerName").val(),
                    "nationalId": parseInt($("#customerNationalId").val()),
                    "mobileNumber": $("#customerMobileNumber").val(),
                    "approvedCreditLimit": parseInt($("#creditLimit").val()),
                }
                console.log(customerInstallmentCardInfo)
                updateInstallmentCard(customerInstallmentCardInfo);
            }

        });



    })



    function getCustomerInfo(installmentCardId, nationalId, name, mobileNumber, creditLimit) {
        $("#installmentId").val(installmentCardId)
        $("#customerNationalId").val(nationalId);
        $("#customerName").val(name);
        $("#customerMobileNumber").val(mobileNumber);
        $("#creditLimit").val(creditLimit);

    }
    function updateInstallmentCard(installmentCardData) {
        $.ajax({
            url: baseURL + `installmentCard/updateInstallmentCard`,
            type: "PUT",
            data: JSON.stringify(installmentCardData),
            datatype: "json",
            async: false,
            contentType: "application/json",
            success: function (res) {

                if (res.succeded) {
                    console.log(res.content);
                    $("#customerInfo").modal("hide");
                    successToaster(res.message);
                    
                }
                else {
                    failureToaster(res.message);
                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });
    }


</script>


