@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<!-- Modal -->
<div class="modal fade" id="guarntorInfo" tabindex="-1" role="dialog" aria-labelledby="jobDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer["Edit guarntor Info"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" id="guarntorInfoEdit">Edit</button>

                <form id="customerInfoFrom">
                    <input type="hidden" id="installmentId" />
                    <input type="hidden" id="guarntorId"/>

                    <div class="row py-2 ">
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" name="guarntorNationalId" disabled id="guarntorNationalId" autocomplete="off" required class="form__field" placeholder="@localizer["NationalId"]">
                                <label for="guarntorNationalId" class="form__label inputPlaceHolder">@localizer["NationalId"]</label>
                                <span id="invalidIdMsg" class="text-danger" style="display:none">@localizer["Invalid National Id"]</span>
                                <span id="validIdMsg" class="text-success" style="display:none">@localizer["Valid National Id"]</span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" id="guarntorName" disabled name="guarntorName" class="form__field" autocomplete="off" required placeholder="@localizer["Full Name"]">
                                <label for="guarntorName" class="form__label inputPlaceHolder">@localizer["Full Name"]</label>
                            </div>

                        </div>
                    </div>

                    <div class="row py-2 ">
                        <div class="col-md-6">

                            <div class="form__group m-0 ">
                                <input type="text" id="guarntorMobileNumber" disabled name="guarntorMobileNumber" class="form__field" pattern="^01[0125][0-9]{8}$" required placeholder="@localizer["Mobile Number"]" autocomplete="off">
                                <label for="guarntorMobileNumber" class="form__label inputPlaceHolder">@localizer["Mobile Number"]</label>
                            </div>
                        </div>
                       
                    </div>
                    @*address details partion*@

                @*<div class="row">*@
                    <h6>Address Details </h6>

                    @*address Details Start*@
                    <div class="row py-2  ">
                        <div class="col-md-6">
                            <label>Governerate</label>
                            <select name="guarntorGovernerateId" required id="guarntorGovernerateId" disabled class=" w-100">
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label>City</label>

                            <select name="guarntorCityId" required id="guarntorCityId" disabled class="form-control w-100">
                            </select>

                        </div>
                    </div>
                       @*hello*@
                    <div class="row py-2  ">
                        <div class="col-md-6">
                            <div class="form__group m-0 ">
                                <input type="text" name="guarntorAddressDetails" disabled id="guarntorAddressDetails" required class="form__field">
                                <label for="guarntorAddressDetails" class="form__label inputPlaceHolder">Address Details</label>
                            </div>
                        </div>
                       
                    </div>

                    @*address details end*@

                @*</div>*@


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" disabled id="guarntorInfoBtn"> Save </button>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#guarntorGovernerateId,#guarntorCityId").select2();

        getAllGovernerate("en", "#guarntorGovernerateId");
        $("#guarntorGovernerateId").change(function () {

            getAllCitiesByGovernerateId($(this).val(), "en", "#guarntorCityId");
        })

        $("#guarntorInfoEdit").click(function () {
            $("#guarntorNationalId ,#guarntorName , #guarntorMobileNumber ,#guarntorAddressDetails ,#guarntorAddressNearestLandmark,#guarntorGovernerateId,#guarntorCityId,#guarntorInfoBtn").prop("disabled", false);
        })

        $("#guarntorInfoBtn").click(function () {

            guarntorToUpdate = {
               // "relationId": 7,
                "name": $("#guarntorName").val(),
                "nationalId": $("#guarntorNationalId").val(),
                "mobileNumber": $("#guarntorMobileNumber").val(),
                "governrateId": $("#guarntorGovernerateId").val(),
                "cityId": $("#guarntorCityId").val(),
                "addressDetails": $("#guarntorAddressDetails").val()
            }

            $.ajax({
                url: baseURL + `customer/UpdateGuarntorData`,
                type: "PUT",
                data: JSON.stringify(guarntorToUpdate),
                datatype: "json",
                async: false,
                contentType: "application/json",
                success: function (res) {

                    if (res.succeded) {
                        //console.log(res.content);
                        //$("#customerInfo").modal("hide");
                        successToaster(res.message);

                    }
                    else {
                        failureToaster(res.message);
                    }
                },
                error: function (err) {
                    console.log("error: ", err)
                }
            });
        })

    })


    function getGuarntorInfo(guarntorId) {
        $.ajax({
            url: baseURL + "Customer/GetGuarntorData?guarntorId=" + guarntorId,
            type: "GET",
            datatype: "json",
            async: false,
            contentType: "application/json",
            success: function (res) {

                if (res.succeded) {
                    fillGuarntorData(res.content);
                }
                else {
                    failureToaster(res.message);
                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });
    }

    function fillGuarntorData(obj) {
        $("#guarntorId").val(obj.id)
        $("#guarntorNationalId").val(obj.nationalId)
        $("#guarntorName").val(obj.name)
        $("#guarntorMobileNumber").val(obj.mobileNumber)
        $("#guarntorGovernerateId").val()
        $("#guarntorCityId").val()
        $("#guarntorAddressDetails").val(obj.addressDetails)
        $("#guarntorAddressNearestLandmark").val(obj.nearestLandMark)
    }

</script>
