@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!-- Modal -->
<div class="modal fade" id="jobDetails" tabindex="-1" role="dialog" aria-labelledby="jobDetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer["job details"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="jopSectorForm">
                    <input type="hidden" id="jobDetailId" />
                    <div class="row py-2  ">
                        <div class="col-md-12 ">
                            <div class="row p-0">
                                <div class="col-md-6">
                                    <div class="_selection jobSector_Selection p-3 my-2">

                                        <label class="selection_radio">
                                            <input id="publicSector" type="radio" name="jobSector" disabled value="0" />
                                            public
                                        </label>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="_selection jobSector_Selection p-3 my-2">

                                        <label class="selection_radio">
                                            <input type="radio" name="jobSector" disabled value="1" />
                                            Private
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row py-2  ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <input type="text" name="jobTitle" disabled id="jobTitle" required class="form__field" placeholder="Job Title">
                                <label for="jobTitle" class="form__label inputPlaceHolder">Job Title</label>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2  ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <input type="text" name="jobAddress" disabled id="jobAddress" required class="form__field" placeholder="Place of work">
                                <label for="jobAddress" class="form__label inputPlaceHolder">Place of work</label>
                            </div>
                        </div>
                    </div>

                    <div class="row py-2 ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <input type="text" name="salary" disabled required id="salary" class="form__field" placeholder="@localizer["Monthly income"]">
                                <label for="salary" class="form__label inputPlaceHolder">@localizer["Monthly income"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 ">
                        <div class="col-md-12">
                            <div class="form__group m-0 ">
                                <input type="date" name="StartingDate" disabled required id="StartingDate" class="form__field" placeholder="@localizer["Monthly income"]">
                                <label for="StartingDate" class="form__label inputPlaceHolder">@localizer["StartingDate"]</label>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="jobEdit">Edit</button>
                <button type="button" class="btn btn-primary w-100" disabled id="jopSectorBtn"> Save </button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        $("#jobEdit").click(function () {
            $("#jobAddress , #jobTitle ,input[name=jobSector] ,#jopSectorBtn ,#salary, #StartingDate").prop("disabled", false)
            let radioButtons = $(".jobSector_Selection");
            $(radioButtons[0]).children().children().attr('checked', "checked");
            $(radioButtons[0]).css("border", "1px solid #0840b8");
            $(".jobSector_Selection").click(function () {

                $(this).css("border", "1px solid #0840b8");
                $(this).children().children().prop('checked', true);

                let radioSibilings = $(this).siblings();

                for (let index = 0; index < radioSibilings.length; index++) {
                    $(radioSibilings[index]).css("border", "1px solid #e3e5e8");
                }

            });
        

        })



        $("#jopSectorForm").validate({
            errorClass: "validationError"
        });


        $("#jopSectorBtn").click(function () {
            if ($("#jopSectorForm").valid()) {
                let jobDetailsOBJ = {
                    "id": $("#jobDetailId").val(),
                    "jobAddress": $("#jobAddress").val(),
                    "jobTitle": $("#jobTitle").val(),
                    "salary": $("#salary").val(),
                    "isPrivateSector": !$('#publicSector').prop("checked") ? true : false,
                    "StartingDate": $("#StartingDate").val()
                   
                }
                UpdateJobDetails(jobDetailsOBJ);
            }

        });
    })

    function getJobDetailsData(jobDetailsId) {
        $.ajax({
            url: baseURL + "JobDetails/GetJobDetailsById?id=" + jobDetailsId,
            type: "GET",
            datatype: "json",
            contentType: "application/json",
            async: false,
            success: function (res) {
                if (res.succeded) {
                    console.log(res.content)
                    FillJobDetailsData(res.content)
                }
                else {

                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });
    }

    function FillJobDetailsData(obj) {
        $("#jobDetailId").val(obj.id);
        $("#jobTitle").val(obj.jobTitle)
        $("#jobAddress").val(obj.jobAddress)
        $("#salary").val(obj.salary)
        $("#StartingDate").val(obj.startingDate.split("T")[0])
        if (obj.isPrivateSector) {
            $('input[name=jobSector][value="' + 1 + '"]').prop("disabled", false)
            $('input[name=jobSector][value="' + 1 + '"]').click()
            $('input[name=jobSector][value="' + 1 + '"]').prop("disabled", true)

        } else {
            $('input[name=jobSector][value="' + 0 + '"]').prop("disabled", false)
            $('input[name=jobSector][value="' + 0 + '"]').click()
            $('input[name=jobSector][value="' + 0 + '"]').prop("disabled", true)
        }
    }

    function UpdateJobDetails(jobDetail) {
        $.ajax({
            url: baseURL + "JobDetails/updateJobDetails",
            type: "PUT",
            datatype: "json",
            data: JSON.stringify(jobDetail),
            contentType: "application/json",
            async: false,
            success: function (res) {
                if (res.succeded) {
                    console.log(res.content)
                    FillJobDetailsData(res.content)
                    successToaster(res.message);
                    $("#jobDetails").modal("hide");
                }
                else {

                }
            },
            error: function (err) {
                console.log("error: ", err)
            }
        });
    }








    

</script>


